.card:hover {
  margin-top: -10px;
  transition: 0.3s ease-in-out;
}

.limited-lines-2 {
  max-height: calc(1.5em * 2); /* 2 baris * tinggi satu baris */
  overflow: hidden;
  text-overflow: ellipsis; /* menampilkan titik-titik elipsis jika terpotong */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* jumlah maksimal baris */
  -webkit-box-orient: vertical;
}

.limited-lines-1 {
  max-height: calc(2em * 2); /* 2 baris * tinggi satu baris */
  overflow: hidden;
  text-overflow: ellipsis; /* menampilkan titik-titik elipsis jika terpotong */
  display: -webkit-box;
  -webkit-line-clamp: 1; /* jumlah maksimal baris */
  -webkit-box-orient: vertical;
}

.card:hover {
  margin-top: -10px;
  transition: 0.3s;
}

.limited-lines-2 {
  max-height: calc(1.5em * 2); /* 2 baris * tinggi satu baris */
  overflow: hidden;
  text-overflow: ellipsis; /* menampilkan titik-titik elipsis jika terpotong */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* jumlah maksimal baris */
  -webkit-box-orient: vertical;
}

.limited-lines-1 {
  max-height: calc(2em * 2); /* 2 baris * tinggi satu baris */
  overflow: hidden;
  text-overflow: ellipsis; /* menampilkan titik-titik elipsis jika terpotong */
  display: -webkit-box;
  -webkit-line-clamp: 1; /* jumlah maksimal baris */
  -webkit-box-orient: vertical;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-top: 10px;
}

.cards::-webkit-scrollbar {
  height: 12px;
  width: max-content;
}
.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}
.cards::-webkit-scrollbar-thumb {
  background: #ffc107;
}
.cards::-webkit-scrollbar-track {
  background: #dee2e6;
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
  .card:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }
  .card:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }
  .card:not(:last-child) {
    margin-right: 40px;
  }
}


